/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

Gemfile.lock

# rspec failure tracking
.rspec_status

# rubymine config
.idea

# rvm
.ruby-gemset
.ruby-version

# simplecov
coverage
